xml/src/main/resources/receitas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="receitas">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="receita" minOccurs="1" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="receita">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:integer" />
                <xs:element name="titulo" type="xs:string" />
                <xs:element name="descricao" type="xs:string" minOccurs="0" />
                <xs:element name="ingredientes" type="xs:string" />
                <xs:element name="modo_preparo" type="xs:string" />
                <xs:element name="emoji_foto" type="xs:string" />
                <xs:element name="image_url" type="xs:string" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>